[run]
branch = True
source =
    apps/backend
    backend
omit =
    */__init__.py
    */tests/*
    */.venv/*
    */node_modules/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.
    @overload
    raise NotImplementedError
    pass
